.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 350px;
    min-height: 100px;
    gap:10px;

    text-align: center;

    *{
        white-space: wrap;
    }
    b {
        font-size: 30px;
        line-height: 25px;
    }
    p.info{
        color: var(--bg-color-5);
    }
    h4{
        padding: 5px;
    }
}
